body {
	font-size: 12px;
}


.wrapper {
	width: 100%;
	max-width: 1170px;
	min-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}


.row {
	
	
	
}

.header {
	width: 100%;
	background: #CDE0F1;
	background: linear-gradient(to bottom right, #CDE0F1, #C4A1E8 );
	border:1px solid #4D5357;
	border-radius: 5px;
}

.headerText {
	padding: 15px;

}

.time li {
	margin-bottom: 0px;
	font-size: 1.3rem;
	list-style-type: none;
}

.personal li {
	font-size: 1.6rem;
	margin-top: 0px;
	margin-bottom: 2px;
	list-style-type: none;
}

.headerText p:nth-child(2) {
	margin-bottom: 20px;
}

.headerName {
	text-align: center;
	text-transform: uppercase;
	color: #C56DCE;
	background: #E6B8AF;
	border-radius: 10px;
	margin-top: 15px;
	max-width: 730px;
}

.headerName h1 {
	padding-bottom: 10px;
	text-shadow: 2px 2px #ddd;
}

.content {
	border:1px solid #4D5357;
	margin-top: 30px;
	padding: 20px;
	float: right;
	height: 450px;
	position: relative;
}

.content h2 {
	font-size: 1.6rem;
	margin:0px;
	padding-bottom: 5px;

}

.content span {
	font-weight: 600;
	text-decoration: underline;
}

.contentText p {
	font-size: 1.6rem;
	margin:0px;
	padding-bottom: 5px;
}

.tab {
	
	margin-top: -45px;
	text-align: center;
	
}

.tab a {
	text-decoration: none;
}

.tab h2 {
	font-weight:700;
	text-shadow: 2px 2px #eff;
}

.tabLeft {
	border:1px solid #4D5357;
	border-radius: 5px;

}


.tabLeft:hover {
	background: #CDE0F1;
    color: #ffe;
 }

.tabRight {
	border:1px solid #4D5357;
	border-radius: 5px;

}


.tabRight:hover {
	background: #CDE0F1;
    color: #ffe;
}



.aside {
	border:1px solid #4D5357;
	border-radius: 5px;
	background: #CDE0F1;
	background: linear-gradient(to left, #CDE0F1, #C4A1E8 );
	float: left;
	padding:10px;
	margin-top:30px;
	width:32.33333333%;
	height:570px; 
}

.users {
	padding: 10px;
}

.users h2 {
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
}

.usersList {
	border:1px solid #4D5357;
	border-radius: 5px;
	background: #EDEDED;
	height: 515px;
	padding: 20px;
}

.usersList a {
	font-size: 1.6rem;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
}

.usersList span {
	color:#BE7B34;
	font-size: 1.6rem;
}

.usersList ul {
	list-style-type: none;
	padding: 0px;
}

.footer {
	
	margin-top: 15px;
	padding: 0px;
	float:right;
	height: 105px;
}

.footer input {
	border:1px solid #4D5357;
	width: 100%;
	max-width: 780px;
	height: 105px;
	font-size: 1.7rem;
}

.info {
	float:right;
	padding: 20px;
	padding-right: 0px;
}

.counter {
	padding-left: 0px;
}

.info ul {
	list-style-type: none;
	margin: 0px;
	padding:0px;
	font-size: 1.1rem;
}

.format {
	margin: -20px;
}

.format a:hover {
	color:#aaa;
}

.format h2{
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0px;
	padding:3px 5px;
}	





.format div {
	display: inline-block;
	border:1px solid #4D5357;
	width: 20px;
	height: 20px;
}



.footerBlockTabRight {
	float:right;
	padding: 0px;
	padding-left:35px;
	text-align: center;

}

.btn-default {
	border:1px solid #4D5357;
	background: #CDE0F1;
}

//media screen

@media screen and (min-width:1010px) and (max-width:1024px)  {
	.headerName {width: 63.66666667%;}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.contentText {padding-top: 20px;}
}

@media screen and (min-width:732px) and (max-width:767px) {
	.tab h2{font-size: 1.4rem;}
	.tab {margin-top : -42px;}
	.contentText {padding-top: 20px;}
}

@media screen and (min-width:681px) and (max-width:731px) {
	.tab h2{font-size: 1.3rem;}
	.tab {margin-top : -42px;}
	.contentText {padding-top: 20px;}
}

@media screen and (min-width:645px) and (max-width:680px) {
	.tab h2{font-size: 1.2rem;}
	.tab {margin-top : -41px;}
	.contentText {padding-top: 20px;}
	.format {width: 220px;}
}

@media screen and (min-width:627px) and (max-width:644px) {
	.tab h2{font-size: 1.1rem;}
	.tab {margin-top : -40px;}
	.contentText {padding-top: 20px;}
	.format {width: 220px;}
	.footerBlockTabRight {padding-left:30px;}
}

@media screen and (min-width:585px) and (max-width:626px) {
	.tab h2{font-size: 1.1rem;}
	.tab {margin-top : -40px; width: 340px;}
	.contentText {padding-top: 20px;}
	.format {width: 220px;}
	.footerBlockTabRight {padding-left:26px;}
}

@media screen and (min-width:575px) and (max-width:584px) {
	.tab h2{font-size: 1.1rem;}
	.tab {margin-top : -40px; width: 340px;}
	.contentText {padding-top: 20px;}
	.format {width: 220px;}
	.footerBlockTabRight {padding-left:22px;}
}

@media screen and (min-width:560px) and (max-width:574px) {
	.tab h2{font-size: 1.1rem;}
	.tab {margin-top : -40px; width: 340px;}
	.tabLeft {width: 150px;}
	.tabRight {padding-left: 5px; width: 145px;}
	.contentText {padding-top: 20px;}
	.format {width: 220px;}
	.footerBlockTabRight {padding-left:20px;}
}